
#table-ajx-content.b-overview__card-wrapper
	.b-overview__card
		.b-overview__imgs
			.owl-carousel#start__slider3
				.b-overview__slide(data-hash="b-overview__slide1")
					img(src="./img/category/river.jpg", alt="Река")
				.b-overview__slide(data-hash="b-overview__slide2")
					img(src="./img/category/river.jpg", alt="Река")
				.b-overview__slide(data-hash="b-overview__slide3")
					img(src="./img/category/river.jpg", alt="Река")
			.b-overview__bottom-line
				.b-overview__img-sm.b-overview__slide-pick1: a(href="#b-overview__slide1")
					img(src="./img/category/card-sm1.jpg", alt="Карточка")
				.b-overview__img-sm.b-overview__slide-pick2: a(href="#b-overview__slide2")
					img(src="./img/category/card-sm2.jpg", alt="Карточка")
				.b-overview__img-sm.b-overview__slide-pick3: a(href="#b-overview__slide3")
					img(src="./img/category/card-sm3.jpg", alt="Карточка")
				.b-overview__img-sm.b-overview__img-sm_video.js-magnific
					img(src="./img/category/card-sm4.jpg", alt="Карточка")
					<i class="fa fa-play" aria-hidden="true"></i>
					a(href="#b-popup-video")
				.b-overview__img-sm.b-overview__img-sm_map.js-magnific
					img(src="./img/category/card-sm-map.jpg", alt="Карта")
					a(href="#b-popup-map")
		.b-overview__content
			.b-overview__content-topic
				| Поход к подножию Белухи
				.b-overview__content-offer Новинка
			p.b-overview__content-text Длительное время Алтай входил в состав государства калмыков Джунгарского ханства. Русские первопроходцы называли алтайцев белыми калмыками. Под властью джунгаров южные алтайцы (алтай-кижи, телеуты и теленгиты) находились до 1756 года, а затем после падения Джунгарского государства стали подданными Российской империи.
			.b-overview__content-prices
				.b-overview__price 21 600 руб
				.b-overview__price.b-overview__price_orange 18 600 руб 
				.b-overview__price-text - по карте клуба
			.b-types
				.b-types__type-wrapper
					.b-types__text Тип:
					.b-types__type-ico.b-types__type-ico_photo
					.b-types__type-ico.b-types__type-ico_cicle
					.b-types__type-ico.b-types__type-ico_people
				.b-types__road-wrapper
					.b-types__text Расстояния:
					.b-types__road-ico.b-types__road-ico_cicle
					.b-types__road-text 100 км
					.b-types__road-ico.b-types__road-ico_car
					.b-types__road-text 355 км
				.b-types__days-wrapper
					.b-types__text Количество дней: 7
			.b-overview__card-order
				.b-overview__card-select.b-main-select
					select
						option(default) Выбери дату поездки
				.b-overview__card-btns
					.b-overview__btns-item.js-magnific
						a(href="#b-form-popup").b-overview__card-book.b-main-btn.b-green Забронировать
					.b-overview__btns-item
						a(href="./travel.html").b-overview__card-book.b-main-btn.b-orange Подробнее
	.b-overview__card
		.b-overview__imgs
			.owl-carousel#start__slider4
				.b-overview__slide(data-hash="b-overview2__slide1")
					img(src="./img/category/river.jpg", alt="Река")
				.b-overview__slide(data-hash="b-overview2__slide2")
					img(src="./img/category/river.jpg", alt="Река")
				.b-overview__slide(data-hash="b-overview2__slide3")
					img(src="./img/category/river.jpg", alt="Река")
			.b-overview__bottom-line
				.b-overview__img-sm.b-overview__slide-pick4: a(href="#b-overview2__slide1")
					img(src="./img/category/card-sm1.jpg", alt="Карточка")
				.b-overview__img-sm.b-overview__slide-pick5: a(href="#b-overview2__slide2")
					img(src="./img/category/card-sm2.jpg", alt="Карточка")
				.b-overview__img-sm.b-overview__slide-pick6: a(href="#b-overview2__slide3")
					img(src="./img/category/card-sm3.jpg", alt="Карточка")
				.b-overview__img-sm.b-overview__img-sm_video.js-magnific
					img(src="./img/category/card-sm4.jpg", alt="Карточка")
					<i class="fa fa-play" aria-hidden="true"></i>
					a(href="#b-popup-video")
				.b-overview__img-sm.b-overview__img-sm_map.js-magnific
					img(src="./img/category/card-sm-map.jpg", alt="Карта")
					a(href="#b-popup-map")
		.b-overview__content
			.b-overview__content-topic
				| Поход к подножию Белухи
				.b-overview__content-offer Новинка
			p.b-overview__content-text Длительное время Алтай входил в состав государства калмыков Джунгарского ханства. Русские первопроходцы называли алтайцев белыми калмыками. Под властью джунгаров южные алтайцы (алтай-кижи, телеуты и теленгиты) находились до 1756 года, а затем после падения Джунгарского государства стали подданными Российской империи.
			.b-overview__content-prices
				.b-overview__price 21 600 руб
				.b-overview__price.b-overview__price_orange 18 600 руб 
				.b-overview__price-text - по карте клуба
			.b-types
				.b-types__type-wrapper
					.b-types__text Тип:
					.b-types__type-ico.b-types__type-ico_photo
					.b-types__type-ico.b-types__type-ico_cicle
					.b-types__type-ico.b-types__type-ico_people
				.b-types__road-wrapper
					.b-types__text Расстояния:
					.b-types__road-ico.b-types__road-ico_cicle
					.b-types__road-text 100 км
					.b-types__road-ico.b-types__road-ico_car
					.b-types__road-text 355 км
				.b-types__days-wrapper
					.b-types__text Количество дней: 7
			.b-overview__card-order
				.b-overview__card-select.b-main-select
					select
						option(default) Выбери дату поездки
				.b-overview__card-btns
					.b-overview__btns-item.js-magnific
						a(href="#b-form-popup").b-overview__card-book.b-main-btn.b-green Забронировать
					.b-overview__btns-item
						a(href="./travel.html").b-overview__card-book.b-main-btn.b-orange Подробнее
