@import "bourbon/_bourbon.scss"
@import "_fonts.sass"
@import "_base.sass"

h1, h2, h3, h4, h5, h6, p
  line-height: normal
  margin: 0
body
	margin: 0
ul
	padding: 0px
	margin: 0px
.start
	color: blue