head
	meta(charset='UTF-8')
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

	title Главная страница
	meta(name="keywords" content="")
	meta(name="description" content="")

	link(rel="shortcut icon" href="./img/favicon/favicon.ico" type="image/x-icon")

	link(rel="apple-touch-icon" href="./img/favicon/apple-touch-icon.png")
	link(rel="apple-touch-icon" sizes="72x72" href="./img/favicon/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon" sizes="114x114" href="./img/favicon/apple-touch-icon-114x114.png")

	// css libs
	link(rel='stylesheet' href="./libs/bootstrap-3.3.6/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="./libs/font-awesome/css/font-awesome.min.css")
	link(rel="stylesheet", href="./libs/owl-carousel/dist/assets/owl.carousel.min.css")
	
	// user css
	link(property="stylesheet" href="./css/template_styles.css" rel="stylesheet")
	link(property="stylesheet" href="./css/template_styles_tablet.css" rel="stylesheet" media="(min-width: 760px)")
	link(property="stylesheet" href="./css/template_styles_desktop.css" rel="stylesheet" media="(min-width: 1200px)")

