<!--[if lt IE 9]>
	<script src="./libs/html5shiv/es5-shim.min.js"></script>
	<script src="./libs/html5shiv/html5shiv.min.js"></script>
	<script src="./libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="./libs/respond/respond.min.js"></script>
	<![endif]-->

// user scripts
script( src='./js/common.es5.js')
