<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

// js
script( src='./libs/jquery/dist/jquery.min.js')
	
// libs
script(src='./libs/owl-carousel/dist/owl.carousel.min.js')
//- script(src='./libs/magnific-popup/dist/jquery.magnific-popup.min.js')

// user scripts
script( src='./js/common.js')
