<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

// js
script( src='./libs/jquery/dist/jquery.min.js')

// libs
//- script(src='./libs/owl.carousel/dist/owl.carousel.min.js')
//- script(src='./libs/matchHeight/dist/jquery.matchHeight-min.js')
//- script(src='./libs/magnific-popup/dist/jquery.magnific-popup.min.js')
//- script(src='./libs/baron/baron.min.js')
//- script(src='./libs/scrollCheck/scrollchech.js')
//- script(src='./libs/select/tether.js')
//- script(src="./libs/lightTabs.js")
//- script(src="./libs/fileinput.js")
//- script(src='./libs/select2/dist/js/select2.min.js')
//- script(src="./libs/tippyjs/dist/tippy.min.js")
//- script(src="./libs/jquery-ui/jquery-ui.js")
//- script(src='./libs/waypoints/lib/jquery.waypoints.min.js')
//- script(src='./libs/matchHeight/dist/jquery.matchHeight-min.js')
//- script(src='./libs/Counter/jquery.counterup.min.js')
script(src="./libs/svg4everybody/dist/svg4everybody.min.js")

// user scripts
script( src='./js/common.es6.js')
